@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}
html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  width: 100%;
  height: 100%;
  line-height: 1.5;

  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.container {
  display: flex;

  padding: 20px;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 270px;
  height: 478px;
  background: hsl(216, 50%, 16%);
  border-radius: 1rem;
  box-shadow: 0px 10px 16px 5px hsl(217deg 54% 9%);
}
@media (max-width: 768px) {
  .container {
    top: 200px;
  }
}
.image-container {
  position: relative;
  margin: auto;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}
.image-container::before:hover {
  content: "";
  background-color: rgba(0, 255, 247, 1);
}
.svg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: rgba(0, 255, 247, 1);
  opacity: 0;
  transition: background-color 0.5s ease-in-out;
}
.svg-container:hover {
  background-color: rgba(0, 255, 247, 0.5);
  opacity: 1;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.view-flex {
  display: flex;
  position: absolute;
}

.header {
  color: hsl(0, 0%, 100%);
  font-size: 1.125rem;
  font-weight: 600;
  margin: 18px 0 5px 0;
}
.header:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
  transition: 0.5s ease-in;
}
.eth-desc {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
  margin: 0;
}
.icon-eth-svg-flex {
  /* float: left; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 10px 0 10px 0;
}
.svg-flex-1 {
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
}

.svg-flex-2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
.text-cyan {
  color: hsl(178, 100%, 50%);
  font-size: 0.8rem;
  margin: 6px;
  font-weight: 400;
}
.text-gray {
  color: hsl(215, 51%, 70%);
  font-size: 0.8rem;
  font-weight: 300;
  margin-left: 6px;
}

.user-details {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid hsl(214, 22%, 40%);
}
.user-profile {
  width: 10%;

  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}
.creator-details {
  color: hsl(215, 51%, 70%);
  font-size: 1rem;
  font-weight: 400;
  margin-left: 15px;
}
.creator-details .span {
  color: hsl(0, 0%, 100%);
}
.creator-details .span:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}
